body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f1f5f9;
}
nav{
  background:#1e293b;
  padding:15px;
}
nav a{
  color:white;
  margin-right:15px;
  text-decoration:none;
}
.container{ padding:40px; }
.card{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:15px;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}
